* {
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.page {
    flex: 1 0 auto;
    padding: 40px 0px;
}

.footer {
    flex: 0 0 auto;
    padding: 40px 0px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

label {
    cursor: pointer;
}

.mark {
    font-size: 25px;
    background: transparent;.wrapper
    fill: red;
    color: red;
}

svg {
    height: 35px;
    width: 35px;
}

.mark.completed {
    fill: green;
    color: green;
}

tbody, td, tfoot, th, thead, tr {
    text-align: center;
}

li.page-item.active {
    pointer-events: none;
}

form {
    margin: 20px 0px;
}

select {
    margin-bottom: 20px;
}


.filter__items {
    display: flex;
    margin-bottom: 20px;
}

.filter__item {
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
}

.filter__item.active {
    color: green;
}

.alert {
    position: relative;
    margin: 20px 0px;
}

.alert-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.edited {
    color: #ffca2c;
}

.empty {
    margin-top: 150px;
    text-align: center;
}